<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <div class="display-4">Luis Barrera</div>
        <h3>Web Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px">
        <a href="https://www.linkedin.com/in/luismibaro/" target="_blank" class="">
            <img src="../../assets/linkedin.svg" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="https://github.com/luismibaro/" target="_blank" class="">
            <img src="../../assets/github.svg" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>

</div>